


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;

}

h1, h2{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
}
ul{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
}

.top h1{
  font-size: 3rem;
}
button {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  
}

/* h4{
  font-family: 'Zen Maru Gothic', sans-serif;
} */

.green-outline {
  text-shadow: 0 0 5px #246024, 0 0 5px #246024, 0 0 5px #246024, 0 0 5px #246024;
}
/* .green-outline {
  text-shadow: 0 0 8px #052100, 0 0 8px #052100, 0 0 8px #052100, 0 0 8px #052100;
} */

/* .white-outline{
  text-shadow: 0 0 1px #5c8d5c, 0 0 1px #246024, 0 0 1px #246024, 0 0 1px #246024;
} */

.color-outline{
  text-shadow: 0 0 1px #057b4a, 0 0 1px #057b4a, 0 0 1px #057b4a, 0 0 1px #1e9362;
} 

.white-outline{
  text-shadow: 0 0 1px #40a87c, 0 0 1px #40a87c, 0 0 1px #40a87c, 0 0 1px #40a87c;
} 